.hero-bg{
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 0;
}

.hero-gradient{
    position:absolute;
    width:1200px;
    height:1200px;
    left:50%;
    top:-500px;
    transform:translateX(-50%);
    border-radius:50%;
    background:
        radial-gradient(circle,
        rgba(59,130,246,.28),
        rgba(139,92,246,.18),
        transparent 72%);
    filter:blur(90px);

    animation:heroFloat 14s ease-in-out infinite;
}

.hero-grid{
    position:absolute;
    inset:0;

    background-image:

        linear-gradient(rgba(255,255,255,.035) 1px, transparent 1px),

        linear-gradient(90deg, rgba(255,255,255,.035) 1px, transparent 1px);

    background-size:60px 60px;

    mask-image:radial-gradient(circle,white 35%,transparent 90%);

    opacity:.45;
}

.hero-noise{

    position:absolute;
    inset:0;

    opacity:.04;

    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='180' height='180'%3E%3Cfilter id='n'%3E%3CfeTurbulence baseFrequency='.8'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
}

@keyframes heroFloat{

    0%{
        transform:translateX(-50%) translateY(0px);
    }

    50%{
        transform:translateX(-50%) translateY(40px);
    }

    100%{
        transform:translateX(-50%) translateY(0px);
    }

}