.vf-pricing{

padding:96px 0;

}

.vf-pricing-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:32px;

}

.vf-pricing h1{

font-size:48px;

margin:24px 0;

}

.vf-pricing ul{

margin-bottom:32px;

display:flex;

flex-direction:column;

gap:12px;

}

@media(max-width:992px){

.vf-pricing-grid{

grid-template-columns:1fr;

}

}