/*
|--------------------------------------------------------------------------
| Radius Tokens
|--------------------------------------------------------------------------
*/

:root{

    --radius-xs:6px;

    --radius-sm:10px;

    --radius-md:16px;

    --radius-lg:24px;

    --radius-xl:32px;

}