/*
|--------------------------------------------------------------------------
| Shadow Tokens
|--------------------------------------------------------------------------
*/

:root{

    --shadow-soft:0 8px 20px rgba(0,0,0,.18);

    --shadow-medium:0 12px 30px rgba(0,0,0,.28);

    --shadow-glow:0 0 40px rgba(37,99,235,.25);

}/*
|--------------------------------------------------------------------------
| Shadow Tokens
|--------------------------------------------------------------------------
*/

:root{

    --shadow-soft:0 8px 20px rgba(0,0,0,.18);

    --shadow-medium:0 12px 30px rgba(0,0,0,.28);

    --shadow-glow:0 0 40px rgba(37,99,235,.25);

}